<div class="tableScheduleMicro">
    <div>
        <h1 id="titleScheduleMicro">Lista para: </h1>
    </div>  
    <table  datatable class="row-border hover">
        <thead>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Ver no maps</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>item.Codigo</td>
            <td>item.nome</td>
            <td>item.Itinerario</td>
        </tr>
        </tbody>
    </table>
    
    <button routerLink='/home-screen' routerLinkActive="router-link-active" type="button" class="btn btn-outline-dark" id="btnReturn">Voltar para o início</button>
    <button routerLink='/micro-list' routerLinkActive="router-link-active" type="button" class="btn btn-outline-dark" id="btnBus">Nova consulta</button>
    <button routerLink='/bus-list' routerLinkActive="router-link-active" type="button" class="btn btn-outline-dark" id="btnMicro">Consultar linhas de Onibus</button>


</div>
